name: "Release"

on:
  push:
    branches:
      - "main"

permissions:
  contents: write
  pull-requests: write
  deployments: write

jobs:
  release-please:
    runs-on: "ubuntu-latest"
    steps:
      - id: "release"
        name: "Release"
        uses: "googleapis/release-please-action@v4"

      - uses: akhilmhdh/contributors-readme-action@v2.3.11
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - name: "Checkout Codebase"
      #   if: "${{ steps.release.outputs.release_created }}"
      #   uses: "actions/checkout@v4"
      #
      # - name: Deploy
      #   if: "${{ steps.release.outputs.release_created }}"
      #   uses: cloudflare/wrangler-action@v3
      #   with:
      #     apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      #     accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      #     command: pages deploy src/ --project-name=truffleshow
      #     gitHubToken: ${{ secrets.GITHUB_TOKEN }}
